.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem;
}

.dessert {
  width: 30%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.dessertImage {
  object-fit: cover;
}
