.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem;
}

.dessert {
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.dessertImage {
  object-fit: cover;
  &:hover {
    transform: scale(1.05);
    transition: 2s;
  }
}
